<div>
    <div>
        <label>University</label>
        <input type="text" class="educationUniversity" required>
    </div>
    <div>
        <label>Major</label>
        <input type="text" class="educationMajor" required>
    </div>
    <div>
        <label>Level of Degree</label>
        <input type="text" class="educationLevelOfDegree" required>
    </div>
</div>