<div id="educationHistoryInputContainer">
    <div class="cvInputDuos">
        <label>University</label>
        <input type="text" class="educationUniversity" required>
    </div>
    <div class="cvInputDuos">
        <label>Major</label>
        <input type="text" class="educationMajor" required>
    </div>
    <div class="cvInputDuos">
        <label>Level of Degree</label>
        <input type="text" class="educationLevelOfDegree" required>
    </div>

    <div>
        <!-- removes one input (first one with the target id) -->
        <button class="addInputButton"
                hx-delete="/editProfileForm/educationHistory"
                hx-target="#educationHistoryInputContainer"
                hx-swap="outerHTML">Remove Input</button>
    </div>
</div>