<header>
    <nav>
        <form class="searchBar" action="/search" method="POST" enctype="application/x-www-form-urlencoded">
            <input class="searchInput" type="text" name="searchQuery" required>
            <button class="searchSubmit" type="submit">Search</button>
        </form>  
        <a class="navbarLinks" href="/">Home</a>
    <% if (!locals.username) { %>
        <a class="navbarLinks" href="/login">Login</a>
        <a class="navbarLinks" href="/register">Register</a>
    <% } else { %>
        <a class="navbarLinks" href="/profile/<%= locals.username %>"><%= locals.username %></a>
        <div>
            <form action="/logout" method="POST">
                <button class="navbarLinks logOut" type="submit">Log Out</button>
            </form>
        </div>
    <% } %>
    </nav>
</header>