<div id="editProfileForm">
    <button hx-delete="/editProfileForm"
            hx-target="#editProfileForm">X</button>
    <form action="/editProfile" method="POST" enctype="application/x-www-form-urlencoded">
        <label>Enter Your CV Details</label>
        <input type="text" name="postText" required>
        <div id="editProfileFormEducation">

        </div>
        
        <div id="editProfileFormWorkHistory">

        </div>
        <button type="submit">Save to BlockChain</button>
    </form>
</div>