<div id="workHistoryInputContainer">
    <div class="cvInputDuos">
        <label>Company</label>
        <input type="text" class="workHistoryCompany" required>
    </div>
    <div class="cvInputDuos">
        <label>Role</label>
        <input type="text" class="workHistoryRole" required>
    </div>
    <div class="cvInputDuos">
        <label>Duration</label>
        <input type="text" class="workHistoryDuration" required>
    </div>

    <div>
        <button class="addInputButton"
                hx-delete="/editProfileForm/workHistory"
                hx-target="#workHistoryInputContainer"
                hx-swap="outerHTML">Remove Input</button>
    </div>

</div>