<div>
    <div>
        <label>Company</label>
        <input type="text" class="workHistoryCompany" required>
    </div>
    <div>
        <label>Role</label>
        <input type="text" class="workHistoryRole" required>
    </div>
    <div>
        <label>Duration</label>
        <input type="text" class="workHistoryDuration" required>
    </div>
</div>