<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>

<div class="authenticationPage">
    <h2>Log In</h2>

    <%- include('./partials/errorMessage.ejs')  %>
    
    <form class="authenticationForm" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
    

        <div class="authenticationLabels">
            <label>Wallet Address</label>
        </div>
        <div>
            <input class="authenticationButtons" id="walletAddressRetrieveButton" type="button" onclick="connectMetamask()" value="Connect to MetaMask" name="walletAddress">
        </div>
        <div>
            <input class="authenticationInput" id="walletAddressLogin" type="text" name="walletAddress" readonly>
        </div>
    
        <div class="authenticationLabels">
            <label>Password</label>
        </div>
        <div>
            <input class="authenticationInput" type="password" name="password" required>
        </div>
        <div>
            <button class="authenticationButtons" type="submit">Log In</button>
        </div>
    </form>
</div>

<script src="/scripts/login.js"></script>