<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>



<div class="profileCV">
	<div class="profileUsernamePfp">
		<img class="profilePfp" src="https://bucketcareerchain.s3.us-east-1.amazonaws.com/profilePictures/<%= user.pfp %>">
		<h1><%= user.username %></h1>
	</div>
	<p><%= user.bio %></p>
	<div id="noCVMessage"></div>
	<div class="profileCVDetails">
		<div id="userDetails">
		
		</div>
		
		<div id="profileEducation">
		
		</div>
		<div id="profileWorkHistory">
		
		</div>
		
		<div id="profileEditFormContainer">
		
		</div>

		<div id="editPfpBioFormContainer">

		</div>
	</div>
</div>

<% if (locals.username == user.username) { %>
	<button class="createPostButton" 
			hx-get="/editProfileForm"
			hx-target="#profileEditFormContainer">Save CV to Blockchain</button>

	<button class="addEditBioButton"
			hx-get="/editPfpAndBio"
			hx-target="#editPfpBioFormContainer">Edit Profile</button>
<% } %>


<script src="/scripts/editProfile.js"></script>