<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>

<h1><%= user.username %></h1>

<div id="userDetails">
        
</div>

<div id="profileEducation">

</div>
<div id="profileWorkHistory">

</div>

<div id="profileEditFormContainer">

</div>
<button hx-get="/editProfileForm"
        hx-target="#profileEditFormContainer">Edit</button>

<script src="/scripts/editProfile.js"></script>