<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>

<div class="authenticationPage">

    <h2>Register</h2>

    <%- include('./partials/errorMessage.ejs')  %>
    
    <form class="authenticationForm" action="/register" method="POST" enctype="application/x-www-form-urlencoded">
    
        <div class="authenticationLabels">
            <label>Wallet Address</label>
        </div>
        <div>
            <!-- <button onclick="return connectMetamask(event)">Connect to MetaMask</button> -->
            <input class="authenticationButtons"  id="walletAddressRetrieveButton" type="button" onclick="connectMetamask()" value="Connect to MetaMask" name="walletAddress">
    
        </div>
        <div>
            <input class="authenticationInput" id="walletAddressRegistration" type="text" name="walletAddress" readonly>
        </div>
        <div class="authenticationLabels">
            <label>Username</label>
        </div>
        <div>
            <input class="authenticationInput"  type="text" id="registrationUsername" name="username" required>
        </div>
        <div class="authenticationLabels">
            <label>Password</label>
        </div>
        <div>
            <input class="authenticationInput"  type="password" id="registrationPassword" name="password" required>
        </div>
        <div>
            <button class="authenticationButtons"  type="submit">Register</button>
        </div>
    </form>
</div>

<script src="/scripts/register.js"></script>