<form>
    <div>

    </div>
    <div>
        <label>Password</label>
    </div>
    <div>
        <input type="password">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

